<h1>Users</h1>
<table>
  <thead>
    <thead>
      <tr>
        <th>Email</th><th>Role</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><% user.roles.each do |names| %>
        <%= names.name %>
        <% end %>
      </td>
      <td>
        <%= form_tag("/admin/" + user.id.to_s + "?role=realtor", method: :PUT) do %>
          <input type="submit" value="Make Realtor"/>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
